<body>
    <section>
      
      <article>
        <h1 style="font-size:3vw;color:#f1f1f1" >The future of Learning</h1>
        <p style="color: #f1f1f1;">As society becomes more dependent on technology it also affects the learning environment.
          To accommodate these changes it has adapt with it which leads to the implemantation of new devices.What we plan to 
          incorporate is that we will use video games as way to teach the students.
       </p>
        <p><img src="https://cdn.videoplasty.com/gif/pc-games-icon-stock-gif-5529-384x216.gif?1574064262" alt="game picture" width="200" height="200" ></p>
        
      </article>
    </section>
    
</body>