<!DOCTYPE html>
<html lang="en">
<head>
<title>Game Based Learning</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: rgb(105, 104, 104);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 800px; /* only for demonstration, should be removed */
  background: rgb(196, 111, 111);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  background-image: url('https://sites.psu.edu/siowfa16/files/2016/09/635848794097552009-78721014_video-games-health-15v8hmt.jpg');
  background-size: cover;
  height: 800px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: rgb(105, 104, 104);
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<!-- <h2>CSS Layout Float</h2>
<p>In this example, we have created a header, two columns/boxes and a footer. On smaller screens, the columns will stack on top of each other.</p>
<p>Resize the browser window to see the responsive effect (you will learn more about this in our next chapter - HTML Responsive.)</p> -->

<header>
  <h2>Game Based Learning</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Description</a></li>
      <li><a href="#">Game Example</a></li>
      <li><a href="#">Extra</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>The future of Learning</h1>
    <p>Who doesnt want to learn by playing video games.
   </p>
    <p><img src="https://cdn.videoplasty.com/gif/pc-games-icon-stock-gif-5529-384x216.gif?1574064262" alt="game picture" width="200" height="200" ></p>
    
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>