<body>
  <h1 class="description-header">What Game-Based Learning Is</h1>

  <div>
    <img src="assets/game_based_learning.png" alt="what is gbl?" class="image">

    <p class="description">
      Game-based learning is a pedagogy where the methods have elements, characteristics, and principles of games
      embedded within the teaching methods. It is also an active learning technique in which games are used to enhance
      students' learning. In the past, game-based learning has led many to believe that it can be a possible solution to
      fixing most of the flaws of the traditional text-based learning approach.
    </p>
  </div>
</body>