<body>
  <h1 class="importance-header">Why It's Important</h1>

  <p class="description">
    Game-based learning has been around for a long time, however, it hasn't been used as a core teaching method geared
    towards a student's learning process. The use of game-based learning in the education system is important because it
    provides students with a dynamic educational approach. The higher use of game-based learning in early education of
    K-5 grades is essential because providing students with a strong foundational education would mean providing
    students ease of transition through each grade level. Depending on the games being played, students can learn
    life-long skills that can benefit them in the future. To name a few, students will be able to enhance their critical
    thinking, higher their retention rate, and improve their self-eficacy.
  </p>

  <h6>Objectives</h6>
  <p class="description">
    Strengthening and improving the learning foundation of students in K-5 education in efforts of increasing the
    retention of information, as well as success rate in the academic system.
  </p>

  <h6>Goals</h6>
  <article>
    <p class="description">
      The goal of game-based learning is to teach subjects in an environment where students can develop higher
      interests, such as mathematics, self-motivation, and understand topics better through visualization, interaction,
      and entertainment.
    </p>
    <p class="description">
      Upon completion of game-based learning courses, K-5 students will have been introduced to a new and innovative
      learning method giving them more efficient backgrounds and understandings in the subject.
    </p>
  </article>

</body>